@model ESY_MVC.Models.Product


<h2>Produkta apraksts</h2>
<div class="table-responsive" style="margin-bottom: 40px">
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Preces ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Preces nosaukums</th>
            <td>@Model.ProductName</td>
        </tr>
        <tr>
            <th>Vienību skaits</th>
            <td>@Model.UnitCount</td>
        </tr>
        <tr>
            <th>Cena par vienu vienību</th>
            <td>@Model.PricePerUnit</td>
        </tr>
    </tbody>
</table>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>