<!DOCTYPE html>
<style>
    .navbar {
        background-color: #9DC08B;
    }

    .navbar h1 {
        font-family: 'Bebas Neue';
        font-weight: 700;
        font-size: 36px;
        text-decoration: none;
        color: #EDF1D6;
    }

    .navbar p:hover {
        text-decoration: underline;
        color: #40513B;
    }

    table.Product {
        width: 100%;
        border-collapse: collapse;
    }

    table.Product th {
        background-color: #5E6A5B;
        color: #fff;
    }

    table.Product th,
    table.Product td {
        padding: 8px;
        border: 1px solid #6c757d;
        text-align: left;
    }

    table.Product tr:hover {
            background-color: #ddac89;
    }

    table.Product td a {
        margin-right: 5px;
    }

    .form-group {
        margin: 10px;
    }

    .btn-primary {
        background-color: #ddac89 !important;
        border: 1px solid #ddac89 !important;
    }

    .btn-primary:hover {
       background-color: #374633 !important;
       border: 1px solid #374633 !important;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ESY_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ESY_MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
            <div class="container-fluid">
                <h1>ESY_MVC</h1>
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ESY_MVC</a>*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
